.invoiceRow {
  border-left: 4px solid #ccc;
}

.invoiceRow:hover {
  border-left-color: #11a3ee;
}


.table {
  table-layout: fixed; /* Force table to have fixed width */
  width: 100%; /* Set table width to 100% */
}



/* Set column widths as percentages */
.idInvoice {
  width: 5%;
}


.amount {
  width: 5%;
}



.status {
  width: 5%;
}

.action {
  width: 5%;
}
